@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin font-medium {
  font-weight: 500;
}

@mixin font-semibold {
  font-weight: 600;
}

@mixin font-bold {
  font-weight: 700;
}
