// Colors
$carbon-black: #222222;
$black: #000000;
$hash-grey-2: #767676;
$cloud-grey: #dedede;
$stroke-grey: #dedede;
$cta-green: #58ff48;
$light-white: #f5f5f5;
$white: #ffffff;

// Fonts
$font-family-base: 'Inter', sans-serif;
